
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMonsterLabel">Create or edit a Monster</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.monster.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.monster.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.monster.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pageNo">Page No</label>
            <input type="number" class="form-control" name="pageNo" id="field_pageNo"
                    ng-model="vm.monster.pageNo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_challenge">Challenge</label>
            <input type="number" class="form-control" name="challenge" id="field_challenge"
                    ng-model="vm.monster.challenge"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.monster.description"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_environment">Environment</label>
            <select class="form-control" name="environment" ng-model="vm.monster.environment" id="field_environment">
                <option value="plains">plains</option>
                <option value="forest">forest</option>
                <option value="hills">hills</option>
                <option value="mountains">mountains</option>
                <option value="marsh">marsh</option>
                <option value="desert">desert</option>
                <option value="underground">underground</option>
                <option value="aquatic">aquatic</option>
                <option value="underdark">underdark</option>
                <option value="abyss">abyss</option>
                <option value="ninehells">ninehells</option>
                <option value="gehenna">gehenna</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_monsterSize">Monster Size</label>
            <input type="text" class="form-control" name="monsterSize" id="field_monsterSize"
                    ng-model="vm.monster.monsterSize"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
