<div ng-switch="vm.isAuthenticated()">
    <div ng-switch-when="true">

        <h1>Welcome, click on either the Quick Encounter Creator or the Advanced Encounter to get started</h1>
        <button ng-click="vm.quickEncounter()" type="button">Quick Encounter</button>
        <button ui-sref="" type="button">Advanced Encounter</button>
    </div>
    <div class="monsterCards">
        <h3>Here's your encounter so far...</h3>
        <div ng-repeat="monster in vm.selectedMonsters" class="monsterCard">
            <h2>{{monster.name}}</h2>
            <dl>
                <dt>Page of Manual</dt>
                <dd>{{monster.pageNo}}</dd>
                <dt>Description</dt>
                <dd>{{monster.description}}</dd>
                <dt>Size</dt>
                <dd>{{monster.monsterSize}}</dd>
                <dt>Challenge Rating</dt>
                <dd>{{monster.challenge}}</dd>
            </dl>
        </div>
    </div>
    <div class="alert alert-warning" ng-switch-when="false">
        If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
    </div>

    <div class="alert alert-warning" ng-switch-when="false">
        You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
    </div>
</div>
